---
const projects = [
  {
    step: '01',
    image: '/assets/portfolio-tapiceria.png',
    name: 'Tapicería Miryta',
    description:
      'Una empresa que se dedica a hacer reparaciones y tapizado de sillones, sillas, automoviles etc.',
    url: 'https://tapiceria-miryta.vercel.app/',
    isAvailable: true,
    tools: ['React', 'Typescript'],
  },
  {
    step: '02',
    image: '/assets/project-hecho-con-amor.png',
    name: 'Hecho con amor',
    description: 'Una empresa que se dedica a hacer decoraciones para todo tipo de fiesta. ',
    url: 'https://hechoconamor.online/',
    isAvailable: true,
    tools: ['React', 'Javascript'],
  },
  {
    step: '03',
    image: '/assets/portfolio-luisadrian-v2.png',
    name: 'Mi sitio web V2',
    description: 'Está página web fue hecha para destacar mis habilidades, estudios y proyectos.',
    url: 'https://hechoconamor.online/',
    isAvailable: true,
    tools: ['CSS', 'Javascript'],
  },
  {
    step: '04',
    image: '/assets/portfolio-mob-studio.png',
    name: 'MOB Studio',
    description:
      'Un estudio fotográfico que captura momentos inolvidables representadas en fotografías.',
    url: 'https://mob-studio.vercel.app/',
    isAvailable: true,
    tools: ['React', 'Javascript'],
  },
  {
    step: '05',
    image: '/assets/portfolio-jecal.png',
    name: 'JECAL',
    description:
      'Una empresa dedicada a ofertar ensayo de aptitud, comparaciones, interlaboratorios y capacitaciones.',
    url: 'https://peajecal.com/',
    isAvailable: true,
    tools: ['HTML', 'Bootstrap'],
  },
  {
    step: '06',
    image: '/assets/portfolio-gelish.png',
    name: 'Gelish Nails Nani',
    description:
      'Un salón de belleza que se dedica a colocar uñas de acrílico y realizar peinados para eventos y ocasiones especiales.',
    url: 'https://gelish-nails-nani.web.app/',
    isAvailable: true,
    tools: ['HTML', 'CSS'],
  },
  {
    step: '07',
    image: '/assets/portfolio-reckless.png',
    name: 'Reckless Coffe',
    description:
      'Una cafetería que ofrece descuentos, categorías, mejores productos y asi como también distintos tipos de café.',
    url: 'https://reckless-coffe.web.app/',
    isAvailable: true,
    tools: ['HTML', 'CSS'],
  },
  {
    step: '08',
    image: '/assets/portfolio-ligas.png',
    name: 'Liga Deportiva Huetamo',
    description:
      'Una liga que contiene diferentes tipos de deportes, cada uno de ellos tiene equipos que compiten entre si.',
    url: 'https://liga-a7ce2.web.app/',
    isAvailable: true,
    tools: ['Java', 'Struts'],
  },
  {
    step: '09',
    image: '/assets/portfolio-calculadora.png',
    name: 'Calculadora',
    description: 'Este proyecto se llevó a cabo para practicar mis habilidades de programación.',
    url: 'https://calculadora-6e078.firebaseapp.com/',
    isAvailable: true,
    tools: ['Javascript', 'CSS'],
  },
  {
    step: '10',
    image: '/assets/portfolio-gesco.png',
    name: 'GESCO',
    description:
      'Un sistema de gestor de correspondencia mejora el seguimiento de los oficios de las 41 áreas de la Secretaría de Desarrollo Económico del Estado de Michoacán.',
    url: '',
    isAvailable: false,
    tools: ['Angular', 'Bootstrap'],
  },
];
---

<section id="proyectos" class="py-8 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Proyectos</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          projects.map((project) => (
            <div class="flex flex-col justify-between gap-6 rounded-xl bg-primary-500/10 px-6 py-8 dark:bg-primary-400/10">
              <img
                class="h-auto w-full rounded-xl"
                src={project.image}
                alt={`Proyecto ${project.step}`}
              />
              <p class="text-sm">{project.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{project.name}</h3>
                <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
                  {project.description}
                </p>
              </div>
              <div>
                <p class="pb-3">Herramientas utilizadas:</p>
                <li>{project.tools ? project.tools[0] : null}</li>
                <li>{project.tools ? project.tools[1] : null}</li>
                <div />
              </div>
              <div class="flex flex-row">
                <div>
                  <a
                    class:list={[
                      'bg-yellow inline-flex w-56 items-center justify-center gap-1 rounded-xl py-4 text-center font-medium text-white',
                      {
                        'pointer-events-none': !project.isAvailable,
                        'pointer-events-auto': project.isAvailable,
                      },
                    ]}
                    href={project.url}
                    target="_blank"
                    rel="noopener"
                  >
                    {project.url === '' ? 'No disponible' : 'Ver en vivo'}
                    {project.url === '' ? (
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-4 w-4"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z" />
                        <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
                        <path d="M8 11v-4a4 4 0 1 1 8 0v4" />
                      </svg>
                    ) : (
                      <svg
                        class="h-4 w-4"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z" />
                      </svg>
                    )}
                  </a>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
